<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>查询</title>
</head>
<body>
<h1 align="center">
    人员列表
</h1>
<table width="1200" align="center" border="2">
    <tr align="center">
        <td>
            编号
        </td>
        <td>
            姓名
        </td>
        <td>
            性别
        </td>
        <td>
            年龄
        </td>
        <td>
            等级
        </td>
        <td>
            部门
        </td>
        <td>
            操作
        </td>
    </tr>
        <tr align="center" th:each="s:${list}">
            <td th:text="  ${s.id }">
                ${s.id }
            </td>
            <td  th:text=" ${s.name }">
                ${s.name }
            </td>
            <td  th:text=" ${s.sex }">
                ${s.sex }
            </td>
            <td  th:text="  ${s.age }">
                ${s.age }
            </td>
            <td  th:text=" ${s.rank }">
                ${s.rank }
            </td>
            <td  th:text=" ${s.department }">
                ${s.department }
            </td>
            <td>
                <a th:href="@{/delete(id= ${s.id })}"  class="sc">删除</a>
            </td>
        </tr>
</table>
<div align="center" style="white: 300px; height: 100px">
    <a th:href="@{/toAdd}">添加人员</a>
</div>
</body>
</html>
